<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zoo Park - Inicio</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/mobile.css">
    <link rel="stylesheet" href="/tablet.css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

</head>
<body>

    <header id="header">

     <!-- Navegation Menu -->
     <nav class="menu">
         <div class="logobox">
             <h1 class="logo"><a href="#">
                <i class="fas fa-tree"></i>
                ZooPark
             </a></h1>

             <span class="btn-menu"><i class="fas fa-bars"></i></span>
         </div>

         <div class="list-container">
             <ul class="lists">
                 <li><a href="/zoo/home" class="active">Inicio</a></li>
                 <li><a href="/zoo/instalaciones">Instalaciones</a></li>
                 <li><a href="/zoo/servicios">Servicios</a></li>
                 <li><a href="/zoo/form">Registrar visita</a></li>
                 
             </ul>
         </div>
     </nav>

     <!-- Img Header -->
     <figure class="img-header">
         <div class="welcome">
            <h4>"Los ojos de un animal tienen el poder de hablar un gran lenguaje"</h4>
            <h2><a href="#">
               <i class="fas fa-tree"></i>
               ZooPark de Colombia
            </a></h2>
         </div>
     </figure>

    </header>

<main>
    
    <!-- About Us -->
    <section class="about-us">
        <div class="info">
            <h3>Acerca de nosotros</h3>
            <p>El Zoológico de Colombia es un lugar fascinante donde puedes explorar la diversidad de la vida salvaje. Nuestro compromiso es proporcionar un hogar seguro y enriquecedor para los animales, al mismo tiempo que educamos a nuestros visitantes sobre la importancia de la conservación.</p>
            <hr>
        </div>

    </section>

    <!-- Gallery -->
    <section class="gallery-section">
        <div class="animal-icon">
            <i class="fas fa-paw"></i>
        </div>
        <h1 style="text-align: center;">Conoce a nuestros habitantes</h1>
        <div class="gallery-content">
            
            <div class="img-card"><img src="/img/img-1.jpg" alt="animal"></div>
            <div class="img-card"><img src="/img/img-2.jpg" alt="animal"></div>
            <div class="img-card"><img src="/img/img-3.jpg" alt="animal"></div>
            <div class="img-card"><img src="/img/img-4.jpg" alt="animal"></div>
            <div class="img-card"><img src="/img/img-5.jpg" alt="animal"></div>
            <div class="img-card"><img src="/img/img-6.jpg" alt="animal"></div>
            <div class="img-card"><img src="/img/tigresBlancos.jpg" alt="animal"></div>
            <div class="img-card"><img src="/img/img-8.jpg" alt="animal"></div>
            <div class="img-card"><img src="/img/img-9.jpg" alt="animal"></div>
            <div class="img-card"><img src="/img/img-10.jpg" alt="animal"></div>
            <div class="img-card"><img src="/img/img-11.jpg" alt="animal"></div>
            <div class="img-card"><img src="/img/img-12.jpg" alt="animal"></div>
        </div>

        
    </section>
   
    <!-- Footer -->
    <footer>
       <p>&copy; Todos los derechos reservados - 2024 | ZooPark de Colombia</p>
    </footer>

</main>
<!-- Scripts -->
<script src="https://kit.fontawesome.com/35db202371.js" crossorigin="anonymous"></script>
<script src="js/app.js"></script>
</body>
</html>