<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zoo Park - Instalaciones</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/mobile.css">
    <link rel="stylesheet" href="/tablet.css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

</head>

<body>

    <header id="header">

     <!-- Navegation Menu -->
     <nav class="menu">
         <div class="logobox">
             <h1 class="logo"><a href="#">
                <i class="fas fa-tree"></i>
                ZooPark
             </a></h1>

             <span class="btn-menu"><i  class="fas fa-bars"></i></span>
         </div>

         <div class="list-container">
             <ul class="lists">
                <li><a href="/zoo/home" >Inicio</a></li>
                <li><a href="/zoo/instalaciones" class="active">Instalaciones</a></li>
                <li><a href="/zoo/servicios">Servicios</a></li>
                <li><a href="/zoo/form">Registrar visita</a></li>
             </ul>
         </div>
     </nav>

     <!-- Img Header -->
     <figure class="img-header-instalaciones">
         <div class="welcome">
            <h4>Instalaciones</h4>
            <h2><a href="#">
               <i class="fas fa-tree"></i>
               ZooPark de Colombia
            </a></h2>
         </div>
     </figure>

    </header>

<main>
    
    <!-- About Us -->
    <section class="about-us">
        <div class="info">
            <h3>Nuestras instalaciones</h3>
            <p>El Zoológico de Colombia es un lugar fascinante donde puedes explorar la diversidad de la vida salvaje. Nuestro compromiso es proporcionar un hogar seguro y enriquecedor para los animales, al mismo tiempo que educamos a nuestros visitantes sobre la importancia de la conservación.</p>
            <hr>
        </div>

       
    </section>
    
        
    </section>
    <!-- Instalaciones -->
    <h2 style="text-align: center;">Algunas de Nuestras Instalaciones</h2>
    <section class="instalaciones">
        

        <div class="instalacion">
            <h3>1. Aviario Exótico</h3>
            <p>Explora nuestro increíble aviario lleno de aves exóticas de todo el mundo.</p>
            <img src="/img/aviario.jpg" alt="aviario" height="450px">
        </div>

        <div class="instalacion">
            <h3>2. Acuario Marino</h3>
            <p>Sumérgete en las maravillas del océano con nuestro acuario repleto de vida marina.</p>
            <img src="/img/acuario.jpeg" alt="acuario" height="450px">
        </div>

        <div class="instalacion">
            <h3>3. Jardín de Mariposas</h3>
            <p>Admira la belleza de las mariposas en nuestro jardín dedicado a estas criaturas fascinantes.</p>
            <img src="/img/Mariposas.webp" alt="jardindemariposas" height="450px">
        </div>

        <div class="instalacion">
            <h3>4. Safari Africano</h3>
            <p>Experimenta la emoción de un safari africano con nuestras instalaciones diseñadas para simular su hábitat natural.</p>
            <img src="/img/safari.jpeg" alt="safari">
        </div>

        <div class="instalacion">
            <h3>5. Hábitat de Tigres Blancos</h3>
            <p>Observa la majestuosidad de los tigres blancos en nuestro hábitat especialmente diseñado.</p>
            <img src="/img/tigresBlancos.jpg" alt="habitat" height="450px">
        </div>

        <div class="instalacion">
            <h3>6. Zona de Aventuras para Niños</h3>
            <p>¡Los más pequeños pueden disfrutar de una zona llena de diversión y juegos!</p>
            <img src="/img/zonaNiños.jpeg" alt="ZonaDeAventura">
        </div>

        <div class="instalacion">
            <h3>7. Casa de los Monos</h3>
            <p>Contempla la diversidad de los monos en nuestra casa diseñada para su comodidad y bienestar.</p>
            <img src="/img/CasaDeMonos.jpg" alt="CasaDeLosMonos">
        </div>

        <div class="instalacion">
            <h3>8. Jaula de Reptiles</h3>
            <p>Descubre el mundo de los reptiles en nuestra jaula especializada.</p>
            <img src="/img/Respiles.jpeg" alt="Jaula">
        </div>

        <div class="instalacion">
            <h3>9. Jardín de Plantas Tropicales</h3>
            <p>Explora una variedad exuberante de plantas tropicales en nuestro jardín temático.</p>
            <img src="/img/plantasTropicales.jpeg" alt="JardinPlantasTropicales">
        </div>

        <div class="instalacion">
            <h3>10. Teatro de Leones Marinos</h3>
            <p>Disfruta de increíbles espectáculos protagonizados por leones marinos entrenados.</p>
            <img src="/img/leonesMarinos.jpg" alt="TeatroLeonesMarinos">
        </div>
    </section>
   
    <!-- Footer -->
    <footer>
       <p>&copy; Todos los derechos reservados - 2024 | ZooPark de Colombia</p>
    </footer>

</main>
<!-- Scripts -->
<script src="https://kit.fontawesome.com/35db202371.js" crossorigin="anonymous"></script>
<script src="/app.js"></script>
</body>
</html>