<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zoo Park - Servicios</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/mobile.css">
    <link rel="stylesheet" href="/tablet.css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

</head>

<body>

    <header id="header">

     <!-- Navegation Menu -->
     <nav class="menu">
         <div class="logobox">
             <h1 class="logo"><a href="#">
                <i class="fas fa-tree"></i>
                ZooPark
             </a></h1>

             <span class="btn-menu"><i class="fas fa-bars"></i></span>
         </div>

         <div class="list-container">
             <ul class="lists">
                <li><a href="/zoo/home" >Inicio</a></li>
                <li><a href="/zoo/instalaciones">Instalaciones</a></li>
                <li><a href="/zoo/servicios" class="active">Servicios</a></li>
                <li><a href="/zoo/form">Registrar visita</a></li>
             </ul>
         </div>
     </nav>

     <!-- Img Header -->
     <figure class="img-header-services">
         <div class="welcome">
            <h4>Nuestros Servicios</h4>
            <h2><a href="index.html">
               <i class="fas fa-tree"></i>
               ZooPark de Colombia
            </a></h2>
         </div>
     </figure>

    </header>

<main>
    
    <!-- About Us -->
    <section class="about-us">
        <div class="info">
            <h3>Acerca de nosotros</h3>
            <p>El Zoológico de Colombia es un lugar fascinante donde puedes explorar la diversidad de la vida salvaje. Nuestro compromiso es proporcionar un hogar seguro y enriquecedor para los animales, al mismo tiempo que educamos a nuestros visitantes sobre la importancia de la conservación.</p>
            <hr>
        </div>

        <div class="free-content">
            <h4>Contenido 100% gratis!</h4>
            <div class="icons">
                <div>
                   <div class="span-icon"><span><i class="fas fa-file-pdf"></i></span></div>
                   <h6>PDF</h6>
                   <p>Descarga nuestros fascinantes documentos en PDF y aprende más sobre la vida silvestre.</p>
                </div>

                <div>
                    <div class="span-icon"><span><i class="fas fa-images"></i></span></div>
                    <h6>Fotos increíbles</h6>
                    <p>Explora nuestra colección de fotos sorprendentes de animales en su entorno natural.</p>
                 </div>

                 <div>
                    <div class="span-icon"><span><i class="fab fa-youtube"></i></span></div>
                    <h6>Youtube</h6>
                    <p>Sumérgete en el mundo animal a través de nuestros videos educativos en YouTube.</p>
                 </div>
                
            </div>
        </div>
    </section>

    <main>
        <!-- Servicios -->
        <section class="services">
            <div class="service-item">
                <img src="/img/visitas_guiadas.jpeg" alt="Visitas Guiadas">
                <h3>Visitas Guiadas</h3>
                <p>Descubre la fauna del zoológico a través de emocionantes visitas guiadas dirigidas por expertos naturalistas. Aprende sobre los hábitats y comportamientos de los animales.</p>
            </div>

            <div class="service-item">
                <img src="/img/show_animales.jpg" alt="Show de Animales">
                <h3>Show de Animales</h3>
                <p>Disfruta de espectáculos emocionantes con nuestros animales estrella. Desde acrobacias hasta demostraciones de habilidades, nuestros shows son educativos y divertidos.</p>
            </div>

            <div class="service-item">
                <img src="/img/programas_educativos.webp" alt="Programas Educativos">
                <h3>Programas Educativos</h3>
                <p>Participa en programas educativos diseñados para todas las edades. Desde charlas sobre conservación hasta talleres interactivos, fomentamos el aprendizaje sobre la vida salvaje.</p>
            </div>

            <div class="service-item">
                <img src="/img/areas_picnic.jpg" alt="Áreas de Picnic">
                <h3>Áreas de Picnic</h3>
                <p>Disfruta de áreas de picnic especialmente designadas para que tú y tu familia disfruten de un día al aire libre. Con hermosas vistas y comodidades para un día relajado.</p>
            </div>
            <div class="service-item">
                <img src="/img/tiendas_recuerdos.jpg" alt="Tiendas de Recuerdos">
                <h3>Tiendas de Recuerdos</h3>
                <p>Lleva contigo un recuerdo de tu visita. Explora nuestras tiendas de regalos que ofrecen una variedad de artículos relacionados con la vida salvaje y el zoológico.</p>
            </div>

            <div class="service-item">
                <img src="/img/restaurantes.jpeg" alt="Cafeterías y Restaurantes">
                <h3>Cafeterías y Restaurantes</h3>
                <p>Recarga energías en nuestras cafeterías y restaurantes ubicados estratégicamente en todo el zoológico. Ofrecemos una variedad de opciones gastronómicas para todos los gustos.</p>
            </div>

            <div class="service-item">
                <img src="/img/servicios_discapacidad.webp" alt="Servicios para Personas con Discapacidad">
                <h3>Servicios para Personas con Discapacidad</h3>
                <p>Nos esforzamos por ser accesibles para todos. Ofrecemos servicios y facilidades especiales para visitantes con discapacidades, asegurando que todos puedan disfrutar del zoológico.</p>
            </div>

            <!-- Nuevos servicios -->
            <div class="service-item">
                <img src="/img/avistamiento_aves.jpeg" alt="Avistamiento de Aves">
                <h3>Avistamiento de Aves</h3>
                <p>Embárcate en una aventura de avistamiento de aves guiada por expertos. Descubre diversas especies de aves que habitan en el zoológico y aprende sobre sus comportamientos únicos.</p>
            </div>

        </section>
    </main>
   
    <!-- Footer -->
    <footer>
       <p>&copy; Todos los derechos reservados - 2024 | ZooPark de Colombia</p>
    </footer>

</main>
<!-- Scripts -->
<script src="https://kit.fontawesome.com/35db202371.js" crossorigin="anonymous"></script>
<script src="js/app.js"></script>
</body>
</html>